<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>This is a rendered template</h1>
    <div>
        <ul>
            <% data.forEach(function(mascot) { %>
                <li>
                    <%= mascot %>
                </li>
            <% }) %>
            <% 
                const heading = '<h1>heading</h1>'
              
            %>
            <%- heading %>
        </ul>
    </div>
</body>
</html>